nav {
    background: rgb(66, 60, 60);
    display: flex;
    height: 6rem;
    margin: 0 auto;

    .titleLogo {
        float: right;
        text-align: center;
        font-size: 180%;
        color: whitesmoke;
        padding: 2rem;
    }

    .navLink {
        padding: 2rem;
        
        ul {
            float: right;
            list-style-type: none;
            position: fixed;
            margin: 0;
            padding: 0;
            width: 100%;
            
            li {
                margin-left: 2rem;
                text-align: center;
                display: inline;
                a {
                    color: rgb(184, 180, 180);
                    padding: 8px 0 8px 16px;
                    text-decoration: none;
                }

                a:hover {
                    color: white;
                    
                }
            }
        }

    
        .active {
            color: white;
        }
    }
    
}
